@use "./constants.scss";

* {
    margin: 0px;
    padding: 0px;

}

img {
    object-fit: cover;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-size: 16px;
    font-weight: 300;
    font-family: constants.$Poppins;
    background-color: #0D0D11;
    color: constants.$text;
    overflow-x: hidden;
}

#root {}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 100%;
    padding: 80px 0px;
}

footer {
    flex: 0 1 auto;
}

.container {
    max-width: 1280px;
    padding: 0px 15px;
    margin: 0px auto;
}

ul,
ol {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 8px;
}



::-webkit-scrollbar-thumb {
    background-color: constants.$text;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: constants.$title;
    border-radius: 8px;
}