@use "./constants.scss";

* {
    margin: 0px;
    padding: 0px;
}

html,
body,
#root {
    height: 100%;

}

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    font-family: constants.$Poppins;
    background-color: #0D0D11;
    color: constants.$text;
}

#root {}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 100%;
}

footer {
    flex: 0 1 auto;
}

.container {
    max-width: 1280px;
    padding: 0px 20px;
    margin: 0px auto;
}

ul,
ol {
    list-style-type: none;
}